# Activity Review 3

In [3]:
#1.Write a for loop that prints out the integers 2 through 10, each on a
#new line, by using the range() function.

for n in range(2,11):
    print(n)

2
3
4
5
6
7
8
9
10

In [6]:
#2.Use a while loop that prints out the integers 2 through 10 (Hint: Youâ€™ll
#need to create a new integer first.)

n = 2
while n < 11:
    print (n)
    n = n + 1

2
3
4
5
6
7
8
9
10

In [12]:
#3.Write a function called doubles() that takes one number as its input and
#doubles that number. Then use the doubles() function in a loop to
#double the number 2 three times, displaying each result on a separate
#line. Here is some sample output.

def doubles(number):
    return user * 2

num = user
for _ in range(3): 
    num = doubles(num)
    print(num)

4545
4545
4545