# Activity Review 1

In [1]:
#1. CREATE A TUPLE LITERAL NAMED CARDINAL_NUMBERS THAT HOLDS THE STRINGS "FIRST",
#"SECOND" AND "THIRD", IN THAT ORDER.

cardinal_numbers = ("FIRST", "SECOND", "THIRD")

In [2]:
#2. USING INDEX NOTATION AND PRINT(), DISPLAY THE STRING AT INDEX 1 IN CARDINAL_NUMBERS.

print(cardinal_numbers[1])

SECOND

In [3]:
#3. UNPACK THE VALUES IN CARDINAL_NUMBERS INTO THREE NEW STRINGS NAMED POSITION1,
#POSITION2 AND POSITION3 IN A SINGLE LINE OF CODE, THEN PRINT EACH VALUE ON A SEPARATE LINE.

position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [4]:
#4. CREATE A TUPLE CALLED MY_NAME THAT CONTAINS THE LETTERS OF YOUR NAME BY USING TUPLE () AND A STRING LITERAL.

my_name = tuple("RICHIE")
print(my_name)

('R', 'I', 'C', 'H', 'I', 'E')

In [5]:
#5. CHECK WHETHER OR NOT THE CHARACTER "X" IS IN MY_NAME USING THE IN KEYWORD.

"X" in my_name

False

In [6]:
#6. CREATE A NEW TUPLE CONTAINING ALL BUT THE FIRST LETTER IN MY NAME USING SLICING NOTATION.

new_tuple = my_name[1:]
print(new_tuple)

('I', 'C', 'H', 'I', 'E')